{% extends 'base.html.twig' %}

{% block title 'My Tiny Shop' %}

{% block nav '' %}

{% block bodyClass '' %}

{% block body %}
    <h1 class="page-header"><span class="glyphicon glyphicon-shopping-cart"></span> My Tiny Shop</h1>

    <div class="row">
        {% for product in products %}
            <div class="col-sm-3 col-md-2">
                <div class="thumbnail product-preview">
                    <a href="{{ path('product_show', { product: product.id }) }}">
                        <img src="{{ product.image ? vich_uploader_asset(product, 'imageFile') : asset('build/images/default-no-image.png') }}" alt="{{ product.label }}" />
                    </a>

                    <div class="caption">
                        <h2>
                            <a href="{{ path('product_show', { product: product.id }) }}">
                                {{ product.label }}
                            </a>
                        </h2>
                        <p><span class="price label label-success">{{ product.unitPrice|localizedcurrency('EUR') }}</span></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
