{% extends 'base.html.twig' %}

{% block title product.label %}

{% block body %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        {% if product.image %}
            <div class="col-md-4">
                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.label }}" class="img-responsive" />
            </div>
        {% endif %}

        <div class="col-md-{{ product.image ? '8' : '12' }}">
            <h1 class="page-header">{{ product.label }}</h1>
            <p><span class="price label label-success">{{ product.unitPrice|localizedcurrency('EUR') }}</span></p>
        </div>
    </div>
{% endblock %}
